name: Build argo-workflow-workertools image

on:
  push:
    branches:
    - main
    paths:
    - argo-workflow/**
  workflow_dispatch:

env: 
    VERSION: 3.7.8
    REGISTRY_IMAGE: octopuslabs/argo-workflow-workertools

jobs:
    build-linux:
        runs-on: ubuntu-latest
        steps:
        - name: Checkout repository
          uses: actions/checkout@v4

        - name: Set up Docker Buildx
          uses: docker/setup-buildx-action@v3

        - name: Login to DockerHub
          uses: docker/login-action@v3
          with:
            username: ${{ secrets.DOCKER_HUB_USER }}
            password: ${{ secrets.DOCKER_HUB_PAT }}
 
        - name: Build image
          run: |
            cd argo-workflow
            docker buildx build --platform 'linux/amd64,linux/arm64' \
                --build-arg VERSION=${{ env.VERSION }} \
                --tag ${{ env.REGISTRY_IMAGE }}:${{ env.VERSION }} \
                --push .
